#quizanswers {
  margin-top: 10px;
  display: grid;
  width: 60vw;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

@media screen and (max-width: 768px) {
  #quizanswers {
    display: grid;
    width: 90vw;
    grid-template-columns: 100%;
  }
}

input[type="radio"] {
  border: 1px solid #525252;
  border-radius: 4px;
  padding: 0.5em;
  -webkit-appearance: none;
  color: #525252;
}

input[type="radio"]:checked {
  background: #525252 no-repeat center center;
  background-size: 9px 9px;
}

input[type="radio"]:focus {
  outline-color: transparent;
}
